parameters:
  level: 5

  paths:
    - .php-cs-fixer.dist.php
    - rector.php
    - Classes
    - Configuration

  reportUnmatchedIgnoredErrors: false

  typo3:
    requestGetAttributeMapping:
      frontend.controller: TYPO3\CMS\Frontend\Controller\TypoScriptFrontendController
      matomo.attributes: iterable
      originalRequest: Psr\Http\Message\ServerRequestInterface
